<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminación de Artículo</title>
    <link rel="stylesheet" type="text/css" href="/css/DS_style.css">
</head>
<body>
    <h1>Artículo eliminado con éxito</h1>
    <a href="/dashboard">Volver al dashboard</a>
</body>
</html>