<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard de Administrador</title>
  <link rel="stylesheet" type="text/css" href="/css/ED_style.css">
</head>
<body>
  <header>
    <h1>Dashboard de Administrador</h1>
  </header>
  <main>
    <h2>Actualmente no hay productos registrados</h2>
    <a href="/dashboard/new">Subir nuevo producto</a><br><br>
    <a href="/">Volver al inicio</a>
  </main>
  <footer>
    <p>&copy; 2024</p>
  </footer>
</body>
</html>